@font-face {
	font-family: "Swiss-light";
	src: url('../fonts/swiss-light.ttf');
}

@font-face {
	font-family: "Rockwell";
	src: url('../fonts/rock.ttf');
}

* {
	margin: 0;
	font-family: "Swiss-light", sans-serif;
}

a {
	text-decoration: none;
}

.black {
	color: #000;
}

.grey {
	color: #818181;
}

.white {
	color: #fff;
}

.left {
	float: left;
}

.right {
	float: right;
}

.wrap-25 {
	width: 24%;
}

.wrap-35 {
	width: 37%;
}

.wrap-50 {
	width: 49%;
}

.wrap-75 {
	width: 75%;
}

.wrap {
	width: 70%;
	min-width: 1080px;
	margin: 20px auto;
}

/* HEADER */
header h1 a{
	font-weight: 400;
	font-size: 40px;
	letter-spacing: -1px;
	/*position: relative;*/
}

/*header h1 span {
	font-size: 25px;
	position: absolute;
	bottom: 5px;
	font-weight: bold;
}*/

nav ul {
	height: 60px;
	line-height: 60px;
}

nav li {
	display: inline;
	text-transform: lowercase;
}

nav li a {
	color: #818181;
}

nav li a:hover {
	color: #000;
}

.active {
	font-weight: bold;
}

/* END HEADER */
/* SLIDER */
.slider {
	clear: both;
	position: relative; 
	height: 350px;
}

.slider div:first-child {
	background: url(../img/san-francisco-bridge.jpg) no-repeat;
	float: left;
	width: 75%;
	height: inherit;
	background-size: cover;
}

.slider h2 {
	position: absolute;
	bottom: 0px;
	left: 16px;
	font-size: 30px;
	width: 500px;
	line-height: 45px;
	font-weight: 100;
}

.slider h2 span {
	background: rgba(0, 0, 0, 0.5);
	padding: 0 7px;
}

/*.main-img {
	height: 350px;
	width: 75%;
	object-fit: cover;
}*/

.side-img {
	height: inherit;
	width: 24%;
	background-color: #3F3F3F;
}
/* END SLIDER */
/* CONTENT */
.content {
	padding: 30px 0;
	clear: both;
	min-height: 300px;
	overflow: hidden;
}

.second {
	margin-left: 2%;
}

h3 {
	text-transform: lowercase;
	padding-bottom: 25px;
	border-bottom: 1px solid #d1d1d1;
	font-size: 30px;
	line-height: 1em;
	font-weight: 100;
}

h3:first-child {
	margin-right: 15px;
}

.description {
	padding-right: 50px;
	padding-top: 25px;
	line-height: 25px;
}

.btn a{
	background: #272727;
	color: #fff;
	padding: 5px;
	text-transform: uppercase;
	font-size: 12px;
}

.btn a:hover {
	background: #000;
}

/* ASIDE */

aside {
	position: relative;
}

aside blockquote {
	font-style: italic;
	font-size: 20px;
	position: relative;
	line-height: 20px;
	padding-left: 35px;
	padding-top: 14px;
	margin-bottom: 10px;
}

aside blockquote:before, aside blockquote:after {
	font-style: italic;
	font-size: 40px;
	color: #bfbfbf;
	position: absolute;
	font-family: "Rockwell";
}

aside blockquote:before {
	content: "“";
	top: 14px;
	left: 5px;	
}

aside blockquote:after {
	content: "”";
	bottom: -5px;
	right: 15px;
}

aside p {
	float: right;
	clear: both;
	margin-bottom: -2px;
	font-size: 12px;
}
/* END ASIDE*/
/* END CONTENT*/
/* FOOTER */
footer {
	border-top: 1px solid #d1d1d1;
	padding-top: 15px;
}

footer a{
	border: 1px solid transparent;
	transition: border 0.6s linear;
	padding: 3px 5px;
}
footer a:hover {
	border: 1px solid black;
}
/* END FOOTER */


/************************************** W O R K ***************************************/

.work .content, .services .content {
	padding-top: 0;
}

.img-previous {
	background: url(../img/prev.jpg);
	width: 100%;
	height: 350px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.img-next {
	background: url(../img/next.jpg);
	width: 100%;
	height: 350px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.img-previous a {
	position: absolute;
	top: 50%;
	left: 0;
	background: #242424;
	padding: 5px 7px;
	text-transform: uppercase;
}

.img-next a {
	position: absolute;
	top: 50%;
	right: 0;
	background: #242424;
	padding: 5px 7px;
	text-transform: uppercase;
}

.work h3 {
	margin-right: 0;
	line-height: 1.1em;
	margin-top: 26px;
}

.work h3 span {
	display: block;
}

/**************************** S E R V I C E S ******************************/
.services .wrap-75>div:first-child {
	background: url(../img/fish-jumping.jpg) no-repeat;
	height: 350px;
	background-size: cover;
	margin-bottom: 30px;
}

.services .description {
	width: 44%;
	padding-right: 40px;
}

.services .wrap-25 {
	min-height: 770px;
	background: #2c2c2c;
}

.services aside {
	padding: 30px;
}

.services aside h3 {
	border-bottom: none;
	padding-bottom: 10px;
}

.services aside li {
  line-height: 35px;
  font-size: 17px;
  color: #8d8d8d;
  margin-left: 20px;
}

/**************************** B L A C K   V E R S I O N *******************************/

.bg-black {
	background: #000;
	color: #818181;
}

.bg-black a, .bg-black a strong, .bg-black h3 span {
	color: #818181;
}

.bg-black h1 a, .bg-black h1 a strong:first-child, .bg-black h2, .bg-black h3, .bg-black .active, 
.bg-black .btn a, .bg-black .content div div a, .bg-black footer strong, .bg-black nav li a:hover {
	color: #fff;
}

.bg-black blockquote:before, .bg-black blockquote:after, .bg-black aside p:last-child {
	color: #212121;
}


.bg-black .btn a{
	background: #272727;
	color: #fff;
	transition: background .8s;
	transition: color .4s;
}

.bg-black .btn a:hover {
	background: #fff;
	color: #272727;
}

.bg-black footer a:hover {
	border: 1px solid #fff;
}