* {
	margin: 0;
}

body {	
	background-color: #1d2120;
    font-family: Arial;
}

.white {
	color: #fff;
}

.grey {
	color: #808080;
}

.black {
	color: #000;
}

.wrapper {
	width: 60%;
	min-width: 925px;
	height: inherit;
	margin: 0 auto;
}

.left {
	float: left;
}

.right {
	float: right;
}

.half {
	width: 50%;
}

.green-border-bottom {
	border-bottom: 5px solid #b8d03d;
}

/* HEADER */

.header {
	height: 110px;
}

.wrapper>.left {
	margin-top: 1%;
}

.logo {
	font-family: sans;
	font-size: 44px;
}

.tagline {
	font-family: sans;
	font-size: 16px;
	margin-left: 24px;
}

/* NAVIGATION */

nav ul {
	border: 1px solid #181c1b;;
	margin: 30px 2px;
	padding: 0;
	background: rgba(38,42,41,1);
	background: -moz-linear-gradient(top, rgba(38,42,41,1) 0%, rgba(29,33,32,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(38,42,41,1)), color-stop(100%, rgba(29,33,32,1)));
	background: -webkit-linear-gradient(top, rgba(38,42,41,1) 0%, rgba(29,33,32,1) 100%);
	background: -o-linear-gradient(top, rgba(38,42,41,1) 0%, rgba(29,33,32,1) 100%);
	background: -ms-linear-gradient(top, rgba(38,42,41,1) 0%, rgba(29,33,32,1) 100%);
	background: linear-gradient(to bottom, rgba(38,42,41,1) 0%, rgba(29,33,32,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#262a29', endColorstr='#1d2120', GradientType=0 );
}

/*nav ul li {
	padding: 5px 25px;
}*/



nav ul {
    list-style-type: none;
    margin-top: 5%;
    padding: 0;
    overflow: hidden;
    float: right;
	border-radius: 30px;
}

nav ul li {
	padding: 5px 25px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: 1px solid #303030;
    border-right: 1px solid #181818;
}

nav ul li a {
    display: block;
    text-decoration: none;
}

nav ul li:first-child{
	border-left: none;
	border-right: 1px solid #181818;
}

nav ul li:last-child{
	border-right: none;
}

nav ul li a.active {
	color: #bad040;
}

/* END NAVIGATION */
/* END HEADER */

/* SLIDER */

.slider {
	height: 300px;
	background: radial-gradient(at top, #797979, #454545 60%);
	background: -webkit-radial-gradient(top, #797979, #454545 60%);
	padding-top: 22px;
}

div.slider>div.wrapper>div.left.half>img {
	box-shadow: 5px -4px 15px -5px;
}

.title {
	font-size: 30px;
	line-height: 1.3em;
}

.content {
	font-size: 20px;
	margin-top: 20px;
}

button {
	margin-top: 30px;
	font-weight: bold;
	padding: 7px 15px;
	background-color: #c7dc54;
	border-radius: 10px;
	border: 1px solid #3e3e3e;
	transition: background .2s ease-in;
}

button:hover {
	transition: .3 ease-in;
	background: #dbee7b;
	cursor: pointer;
}

/* END SLIDER */

/* MAIN CONTENT */

.main {
	height: 700px;
	background-color: #fff;
	padding: 30px;
}

.top-green-border {
	margin:0;
	height: 5px;
	width: 100%;
	border-top: 1px solid #bad040;
}

.green-fill {
	height: inherit;
	width: 100px;
	background-color: #bad040;
	float: left;
}

div.main>div.wrapper>div.left>p.title{
	margin-bottom: 5px;
}

div.main>div.wrapper>div.left>p {
	margin: 20px auto;
	line-height: 1.4em;
}

div.main>div.wrapper>div.left>ul {
	margin: 40px auto;
	list-style-type: square;
}

div.main>div.wrapper>div.left>ul>li {
	line-height: 1.4em;
	margin-top:10px;
}

.green-border-left {
	border-left: 8px solid #bad040;
}

p.green-border-left {
	padding-left: 30px;
}

/* END MAIN CONTENT */

/* FOOTER */

.footer {
	height: 250px;
}

/* END FOOTER */