@font-face {
	font-family: Calibri;
	src: url(../fonts/calibri.ttf);
}

* {
	margin: 0;
}

body {
	background: #EFEFEF;
	font-family: Calibri, sans-serif;
}

.left {
	float: left;
}

.right {
	float: right;
}

p {
	margin: 10px 0;
	color: #616161;
	line-height: 19px;
}

article:first-child {
	margin-top: 20px;
}

article {
	width: 600px;
	margin: auto;
	background-color: #fff;
	min-height: 300px;
	overflow: hidden; /* "min-height" + "overflow: hidden" is used to set the DIV height
	according to content */
	padding: 30px;
	border: 2px solid #E3E3E3;
	border-bottom: 0;
	font-size: 14px;
}

article:last-child {
	border-bottom: 2px solid #E3E3E3;
}

.thumb {
	margin-right: 30px;
}

.body {
	width: 370px;
}

.meta {
	padding-left: 0;
	margin-bottom: 8px;
}

.meta li {
	display: inline;
	font-style: italic;
}

.meta li:after {
	content: '\\';
	padding: 0 2px 0 5px;
	color: #999;
}

.meta li:last-child:after{
	content: "";
}

.meta li a {
	color: #00b189;
	text-decoration: none;
}

.body h2 {
	font-family: Helvetica, sans-serif;
	font-size: 40px;
	line-height: 1em;
	letter-spacing: -1px;
}

.body h2:hover {
	background: #EFEFEF;
}

.posted {
	background: #EFEFEF;
	padding: 0px 5px 2px 5px;
}

.posted a {
	text-decoration: none;
	font-style: italic;
	color: #616161;
}

.posted a:hover {
	color: #000;
}

.description {
	clear: both;
}

.more {
	margin: 0;
}

.more a {
	color: #00b189;
}

.more a:before {
	content: '(';
}

.more a:after {
	content: ')';
}